.form-switches {
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-switches p {
  text-align: center;
  margin-block: 1rem;
  font-weight: bolder;
}
.radio-group-wrapper {
  border-radius: 25px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vmax;
  background-color: hsl(0 10% 90%);
  padding: 0.25em;
}
