.radio-wrapper input {
  display: none;
  -webkit-tap-highlight-color: transparent;
}
.radio-wrapper input:checked ~ label {
  background-color: hsl(220 49% 69%);
}

.radio-wrapper label {
  border-radius: 25px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  padding: 0.8em 1em;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: background-color 200ms ease;
  -webkit-tap-highlight-color: transparent;
}
