

:root {
  --other: #1b7c9d;
  --header: #2b3a67;
  --bgcolor: #3e885b;
  --white: #f1f5f1;
}

.welcome {
  background-image: url(/public/images/texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vmax;
  min-height: 100vh;
  padding-block: 4em;
}

.welcome img {
  padding: 30px;
}

.welcomelogo {
  padding: 2em;
}

.welcomebutton {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1em;
  padding: 1em;
  margin-inline: 1em;
}

.welcomebox {
  border: solid 2px black;
  border-radius: 25px;
}

.welcomebox h1 {
  font-size: 18px;
}

#wbutton {
  background-image: url(/public/images/texture.jpg);
}
#wbutton2 {
  background-color: var(--other);
}
