.card-list {
  display: flex;
  position: relative;
  min-height: 50vh;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide.active + .slide {
  opacity: 1;
  transform: translateX(105%);
}
.slide:not(.active) {
  transform: translateX(-105%);
}

.card {
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card figure {
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}
.card figure img {
  aspect-ratio: 5/4;
  object-fit: cover;
}

.card figure::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsl(0 0% 0% / 0.1);
  z-index: 2;
}
.card .tag-budget {
  display: inline-block;
  position: absolute;
  right: 8px;
  bottom: 8px;
  color: #fff;
  background-color: hsl(150, 100%, 36%);
  padding: 0.4em 0.6em;
  border-radius: 1em;
  line-height: 1;
}

.card article {
  background-color: white;
  color: black;
  padding-block: 0.5em;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-block-start: 0.5em;
}

.card h3 {
  line-height: 1.1;
  margin-block-end: 0.4em;
}

.card .card-icon {
  width: 40px;
  cursor: pointer;
  fill: black;
}
.card .card-icon-filled .card-icon-fill {
  fill: black;
}
.card .card-icon-fill {
  fill: transparent;
  stroke: none;
}
.card-btn {
  position: absolute;
  bottom: calc(2.2rem * -1);
  left: 50%;
  transform: translate(-50%, 100%);
  text-decoration: none;
  color: #000;
  background-color: gray;
  border-radius: 0.2em;
  padding: 0.2em 0.6em;
  font-size: 1.5rem;
}

.controlls {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
}
.slider-btn {
  background-color: #000;
  color: #fff;
  padding: 0.15em 0.7em;
  border-radius: 50%;
  font-size: 2rem;
}
