.card-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}

.card {
  padding: 1em;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card:not(:first-of-type) {
  display: none;
}

.card:nth-of-type(2) {
  display: block;
  position: absolute;
  left: 103%;
  width: 100%;
  height: 100%;
}

.card:last-of-type {
  display: block;
  position: absolute;
  right: 103%;
  width: 100%;
  height: 100%;
}

.card figure {
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

.card figure::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsl(0 0% 0% / 0.1);
  z-index: 2;
}
.card .tag-budget {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: #000;
  padding: 0.3em 0.6em;
  border-radius: 1em;
}

.card article {
  background-color: white;
  color: black;
  padding-block: 0.5em;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-block-start: 0.5em;
}

.card h3 {
  line-height: 1.1;
  margin-block-end: 0.4em;
}

.card .card-icon {
  width: 40px;
  cursor: pointer;
  fill: black;
}
.card .card-icon-filled .card-icon-fill {
  fill: black;
}
.card .card-icon-fill {
  fill: transparent;
  stroke: none;
}
