:root {
  --other: #1b7c9d;
  --header: #1C3E77;
}

.headerflex {
  display: flex;
  align-items: center;
  gap: 8vmax;
  background-color: var(--header);
}


.headerlogo {

  padding: 10px;
}
@media only screen and (min-width: 390px) {
}
