:root {
  --other: #1b7c9d;
  --header: #2b3a67;
}

.headerflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
}

.headerimg {
  width: 15%;
  padding: 10px;
}
.headerlogo {
  width: 25%;
  padding: 10px;
}
@media only screen and (min-width: 390px) {
}
