.form-switches {
  max-width: 500px;
}

.radio-group-wrapper {
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-inline: 1rem;
  box-shadow: 0 0 0 3px #000;
}
.radio-wrapper input {
  display: none;
}
.radio-wrapper label {
  border-radius: 25px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

#ring {
  position: absolute;
  width: 92.2344px;
  height: 48px;
  border-radius: 25px;
  border: 3px solid #000;
  padding: 1rem 2rem;
  left: 92.7344px;
  top: 108.391px;
  transition: left 500ms ease-in-out, width 500ms ease-in-out;
}
