body {
  font-family: poppins, sans-serif;
}

.home {
  display: grid;
  gap: 3rem;
  min-height: 70vh;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.cardminde {
  display: inline-block;
  padding: 1em;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.cardimg {
  width: 100px;
  border-radius: 25px;
  border: solid 3px #1c3e77;
}

.cardh2 {
  text-align: center;
  font-size: 15px;
}

.button-container-start {
  display: flex;
}

.homebutton {
  padding: 0.5em 2em;
  border-radius: 45px;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  background-color: #1c3e77;
  max-width: fit-content;
  margin-inline: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ottericon {
  width: 30%;
  margin-inline: auto;
}

.otterbutton {
  display: grid;
  justify-content: center;
}

.flexhomebutton {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcomeh2 {
  text-align: center;
  font-size: 1.5em;
}

.welcomeh3 {
  text-align: center;
  font-size: 1.3em;
}

/* Modal CSS til home-section, af Laura */
.minde-btn {
  background-size: cover;
  border: solid 2px #1c3e77;
  border-radius: 25px;
  color: white;
  padding: 40px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.minde-btn1 {
  background-image: url(/public/images/memory.png);
}

.minde-btn2 {
  background-image: url(/public/images/memory1.png);
}

.minde-btn3 {
  background-image: url(/public/images/memory3.png);
}

.minde-btn4 {
  background-image: url(/public/images/memory4.png);
}

.minde-btn5 {
  background-image: url(/public/images/memory5.png);
}
