.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
  
    .cardminde {
      display: inline-block;
    padding: 1em;
   

    }
    .scrolling-wrapper {
        -webkit-overflow-scrolling: touch;
      }



.cardimg {
    width: 150px;
}

.cardh2 {
    text-align: center;
    font-size: 1em;
}


.homebutton {
    display: block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 45px;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#hbutton {
    background-color: var(--other);
}


.flexhomebutton {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcomeh2 {
    text-align: center;
}